element.style {
    height: 652px;
    transform: translate3d(0px, 0px, 0px);
}
.swiper-3d .swiper-wrapper {
    transform-style: preserve-3d;
}
.swiper-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
}
.swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide, .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top, .swiper-3d .swiper-wrapper {
    transform-style: preserve-3d;
}
.swiper-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
}
.swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper {
    transform: translateZ(0);
}
.swiper-wrapper {
    box-sizing: content-box;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    width: 100%;
    z-index: 1;
}
.swiper-android .swiper-slide, .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.swiper {
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.elementor-element {
    --widgets-spacing: 20px 20px;
}
.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}
.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
    align-self: var(--align-self);
}
.elementor-element {
    --widgets-spacing: 20px 20px;
}
.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}
.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
    align-self: var(--align-self);
}
.elementor-411 .elementor-element.elementor-element-e54ad85 {
    --pa-sh-divider-pos: bottom;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 200px 0px;
}
.elementor-element {
    --widgets-spacing: 20px 20px;
}
.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}
.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
    align-self: var(--align-self);
}
.elementor-kit-128 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-c975fe3: #F4F4F4;
    --e-global-color-46e10b7: #030304;
    --e-global-color-335476e: #8176FF;
    --e-global-color-d0a6618: #534D9F;
    --e-global-color-056eebd: #151518;
    --e-global-color-8f64ec5: #1C1B1B;
    --e-global-color-11d43d0: #D4D4D4;
    --e-global-color-da57db1: #6B5EFF;
    --e-global-color-eab4dc8: #151330;
    --e-global-color-100af63: #1F1B41;
    --e-global-color-fd7eabc: #B73E3D;
    --e-global-typography-primary-font-family: "Montserrat";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Montserrat";
    --e-global-typography-secondary-font-size: 46px;
    --e-global-typography-secondary-font-weight: 600;
    --e-global-typography-secondary-line-height: 1.15em;
    --e-global-typography-text-font-family: "Work Sans";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 300;
    --e-global-typography-accent-font-family: "Montserrat";
    --e-global-typography-accent-font-size: 16px;
    --e-global-typography-accent-font-weight: 400;
    --e-global-typography-d5cf122-font-family: "Work Sans";
    --e-global-typography-d5cf122-font-size: 18px;
    --e-global-typography-d5cf122-font-weight: 300;
    --e-global-typography-4dab1ce-font-family: "Montserrat";
    --e-global-typography-4dab1ce-font-size: 18px;
    --e-global-typography-4dab1ce-font-weight: 600;
    --e-global-typography-dee4241-font-family: "Work Sans";
    --e-global-typography-dee4241-font-size: 16px;
    --e-global-typography-dee4241-font-weight: 400;
    --e-global-typography-45d4cf1-font-family: "Montserrat";
    --e-global-typography-45d4cf1-font-size: 60px;
    --e-global-typography-45d4cf1-font-weight: 600;
    --e-global-typography-45d4cf1-text-transform: uppercase;
    --e-global-typography-45d4cf1-line-height: 1em;
    --e-global-typography-018cce8-font-family: "Montserrat";
    --e-global-typography-018cce8-font-size: 20px;
    --e-global-typography-018cce8-font-weight: 400;
    --e-global-typography-8489a30-font-family: "Montserrat";
    --e-global-typography-8489a30-font-size: 24px;
    --e-global-typography-8489a30-font-weight: 600;
    --e-global-typography-8489a30-line-height: 1.4em;
    --e-global-typography-085461f-font-family: "Work Sans";
    --e-global-typography-085461f-font-size: 16px;

}
.jkit-color-scheme {
    --jkit-bg-color: #ffffff;
    --jkit-border-color: #eaeaeb;
    --jkit-txt-color: #575A5F;
    --jkit-txt-h-color: #181D23;
    --jkit-txt-a-color: #0058E6;
    --jkit-txt-m-color: #96989B;
    --jkit-txt-alt-color: #ffffff;
    --jkit-form-border-color: #D5D5D7;
    --jkit-form-bg-color: transparent;
    --jkit-form-txt-color: #181D23;
    --jkit-btn-txt-color: #ffffff;
    --jkit-btn-bg-color: #0058E6;
    --jkit-btn-bg-hover-color: #0048bd;
    --jkit-selection-bg-color: #d8a600;
    --jkit-element-bg-color: #80b1ff;
    --jkit-element-darken-bg-color: #0058E6;
    --jkit-element-lighten-bg-color: #e6f0ff;
    --jkit-success-bg-color: #75ffd8;
    --jkit-success-border-color: #007f5b;
    --jkit-error-bg-color: #ffcccc;
    --jkit-error-border-color: #d60000;
}
body {
    --guten-base-color: #181d23;
    --guten-base-lighter-color: #2d3137;
    --guten-bg-color: #fff;
    --guten-border-color: #eaeaeb;
    --guten-txt-color: #575a5f;
    --guten-txt-h-color: #181d23;
    --guten-txt-a-color: #0058e6;
    --guten-txt-m-color: #96989b;
    --guten-txt-alt-color: #fff;
    --guten-form-border-color: #d5d5d7;
    --guten-form-bg-color: transparent;
    --guten-form-txt-color: #181d23;
    --guten-form-font-size: 15px;
    --guten-form-border-focus: #b7b7b7;
    --guten-switch-active: #3557dc;
    --guten-switch-shadow: #2e384d;
    --guten-form-placeholder-color: #96989b;
    --guten-btn-txt-color: #fff;
    --guten-btn-bg-color: #0058e6;
    --guten-btn-bg-info: #5bc0de;
    --guten-btn-bg-success: #5cb85c;
    --guten-btn-bg-warning: #f0ad4e;
    --guten-btn-bg-danger: #d9534f;
    --guten-btn-bg-hover-color: #0048bd;
    --guten-selection-bg-color: #d8a600;
    --guten-element-bg-color: #80b1ff;
    --guten-element-darken-bg-color: #0058e6;
    --guten-element-lighten-bg-color: #e6f0ff;
    --guten-success-bg-color: #75ffd8;
    --guten-success-border-color: #007f5b;
    --guten-error-text-color: #d60000;
    --guten-error-bg-color: #fcc;
    --guten-error-border-color: #d60000;
    --guten-wp-color: #007cba;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    --guten-base-color: #181d23;
    --guten-base-lighter-color: #2d3137;
    --guten-bg-color: #fff;
    --guten-border-color: #eaeaeb;
    --guten-txt-color: #575a5f;
    --guten-txt-h-color: #181d23;
    --guten-txt-a-color: #0058e6;
    --guten-txt-m-color: #96989b;
    --guten-txt-alt-color: #fff;
    --guten-form-border-color: #d5d5d7;
    --guten-form-bg-color: transparent;
    --guten-form-txt-color: #181d23;
    --guten-form-font-size: 15px;
    --guten-form-border-focus: #b7b7b7;
    --guten-switch-active: #3557dc;
    --guten-switch-shadow: #2e384d;
    --guten-form-placeholder-color: #96989b;
    --guten-btn-txt-color: #fff;
    --guten-btn-bg-color: #0058e6;
    --guten-btn-bg-info: #5bc0de;
    --guten-btn-bg-success: #5cb85c;
    --guten-btn-bg-warning: #f0ad4e;
    --guten-btn-bg-danger: #d9534f;
    --guten-btn-bg-hover-color: #0048bd;
    --guten-selection-bg-color: #d8a600;
    --guten-element-bg-color: #80b1ff;
    --guten-element-darken-bg-color: #0058e6;
    --guten-element-lighten-bg-color: #e6f0ff;
    --guten-success-bg-color: #75ffd8;
    --guten-success-border-color: #007f5b;
    --guten-error-text-color: #d60000;
    --guten-error-bg-color: #fcc;
    --guten-error-border-color: #d60000;
    --guten-wp-color: #007cba;
}
:root {
    --guten-screen-xs-max: 767px;
    --guten-screen-sm-min: 768px;
    --guten-screen-sm-max: 1024px;
    --guten-screen-md-min: 1025px;
}
:root {
    --swiper-theme-color: #007aff;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
:root {
    --page-title-display: block;
}
@media (min-resolution: 192dpi) {
    :root {
        --wp-admin-border-width-focus: 1.5px;
    }
}
:root {
    --wp-admin-theme-color: #3858e9;
    --wp-admin-theme-color--rgb: 56, 88, 233;
    --wp-admin-theme-color-darker-10: #2145e6;
    --wp-admin-theme-color-darker-10--rgb: 33, 69, 230;
    --wp-admin-theme-color-darker-20: #183ad6;
    --wp-admin-theme-color-darker-20--rgb: 24, 58, 214;
    --wp-admin-border-width-focus: 2px;
}
:root {
    --wp--preset--aspect-ratio--square: 1;
    --wp--preset--aspect-ratio--4-3: 4 / 3;
    --wp--preset--aspect-ratio--3-4: 3 / 4;
    --wp--preset--aspect-ratio--3-2: 3 / 2;
    --wp--preset--aspect-ratio--2-3: 2 / 3;
    --wp--preset--aspect-ratio--16-9: 16 / 9;
    --wp--preset--aspect-ratio--9-16: 9 / 16;
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}
:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
:host, :root {
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em / 1 "Font Awesome 6 Free";
}
:host, :root {
    --fa-font-regular: normal 400 1em / 1 "Font Awesome 6 Free";
}
:host, :root {
    --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em / 1 "Font Awesome 6 Brands";
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
