{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mosque Locations Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="{% static 'css/map.css' %}" />
</head>

<body>
  <div>
    <section>
      <h1>
        <span>
          CSS MUSIC VIDEO
        </span>
        <span></span>
      </h1>
    </section>
    <content>
      <article>
        <span>Rob Frogley<br /> & Ben Evans</span>
        <span>Present...</span>
        <span>
          Devolution
          <br />
          <small>In CSS-o-vision</small>
        </span>
        <span>Technical magical really fantastical</span>
        <span>Incredible animal, the mystery cannibal</span>
        <span>Electrical botanical with highbred mechanicals</span>
        <span>Flammable admiral globally paraverbal</span>
        <span>Arctic tundra, sound blast Thunder</span>
        <span>Carbon footprints putting us under</span>
        <span>Hyper elusive radio news clips</span>
        <span>Sticking with the old ways, nothing inclusive</span>
        <span>
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-1">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-2">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-3">
          <span>Super<wbr>sonic Fusion</span>
        </span>
        <span>
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-1">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-2">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-3">
          <span>Super<wbr>sonic Fusion</span>
        </span>
        <span>Devolution, the generated newsroom</span>
        <span>Government tactics laced in confusion</span>
        <span>Supersonic highway, Turnpike byway</span>
        <span>Guided missiles fired into the Skyway</span>
        <span>Backed in a corner, human disorder</span>
        <span>Panic at the gate and running for the border</span>
        <span>Stumbling forwards, tripping up backwards</span>
        <span>Taking their chance don't wanna be captured</span>
        <span>
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-1">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-2">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-3">
          <span>Super<wbr>sonic Fusion</span>
        </span>
        <span>
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-1">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-2">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-3">
          <span>Super<wbr>sonic Fusion</span>
        </span>
        <span>What's the story, covered in glory</span>
        <span>Heads of state are murdering Tories</span>
        <span>Electric mayhem, solar powered days end</span>
        <span>Metal gear solder, carbonetic frayed end</span>
        <span>Thermal layers, geographic natures</span>
        <span>Neolithic mangrove twisted in stages</span>
        <span>Whirlwind typhoon, magnetised white moon</span>
        <span>Devastating backdrops, stabilised monsoon</span>
        <span>
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-1">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-2">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-3">
          <span>Super<wbr>sonic Fusion</span>
        </span>
        <span>
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-1">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-2">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-3">
          <span>Super<wbr>sonic Fusion</span>
        </span>
        <span>
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-1">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-2">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-3">
          <span>Super<wbr>sonic Fusion</span>
        </span>
        <span>
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-1">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-2">
          <span>Super<wbr>sonic</span>
        </span>
        <span class="bigger-3">
          <span>Super<wbr>sonic Fusion</span>
        </span>
        <span>
        </span>
        <span>
        </span>
        <span>
        </span>
        <span>
        </span>
        <span>
        </span>
        <span>
          Like & Subscribe 👍
        </span>
        <span>
        </span>
        <span>
        </span>

        <span>Bye 😁</span>
      </article>
    </content>

    <div></div>
    <killlights>
      <light></light>
    </killlights>
    <stars>
      <u></u><u></u><u></u><u></u><u></u><u></u><u></u><u></u><u></u>
    </stars>
    <stars2>
      <u></u><u></u><u></u><u></u><u></u><u></u><u></u><u></u><u></u>
    </stars2>
    <playerlight>
      <playerlight>
        <player1>
          <u>
            <u><u></u><u></u></u><u><u></u><u></u><u></u><u><u></u></u></u>
          </u>
        </player1>
      </playerlight>
    </playerlight>
    <playerwrap>
      <playerwrap>
        <player2>
          <u>
            <u><u></u><u></u></u><u><u></u><u></u><u></u><u><u></u></u></u>
          </u>
        </player2>
        <player2>
          <u>
            <u><u></u><u></u></u><u><u></u><u></u><u></u><u><u></u></u></u>
          </u>
        </player2>
        <player2>
          <u>
            <u><u></u><u></u></u><u><u></u><u></u><u></u><u><u></u></u></u>
          </u>
        </player2>
      </playerwrap>
    </playerwrap>
    <playerwrap>
      <player3>
        <u>
          <u><u></u><u></u></u><u><u></u><u></u><u></u><u><u></u></u></u>
        </u>
      </player3>
    </playerwrap>
    <killlights>
      <bubblewrap>
        <bubbles>
          <u></u>
        </bubbles>
      </bubblewrap>
      <confetti>
        <u><u></u></u><u><u></u></u><u><u></u></u><u><u></u></u>
      </confetti>
    </killlights>
    <playerwrap>
      <player4>
        <u>
          <u><u></u><u></u></u><u><u></u><u></u><u></u><u><u></u></u></u>
        </u>
      </player4>
    </playerwrap>
    <playerwrap>
      <player5>
        <u>
          <u><u></u><u></u></u><u><u></u><u></u><u></u><u><u></u></u></u>
        </u>
      </player5>
    </playerwrap>

    <badge>
      <u></u> <u></u> <u></u> <u></u> <u> <u></u> <u></u> </u> <u></u> <u></u> <u></u> <u></u> <u></u>
    </badge>

    <footer>
      <script>
        function go() {
          var x = document.getElementById('y');
          x.paused ? x.play() : x.pause();
        }
      </script>
      <!--<audio autoplay>-->
      <audio id="y">
        <source src="https://tinydesign.co.uk/css-lyrics/devolution-final.mp3" type="audio/mpeg" />
      </audio>
      <a href="https://tinydesign.co.uk/" title="Ben Evans Portfolio">
        <sig><u></u></sig>
      </a>
      <play>
        <input id="play-radio" type="radio" name="radio" onclick="go()" autofocus>
      </play>
      <input id="stop-radio" type="radio" name="radio" onclick="go()">
    </footer>
  </div>
</body>

</html>