h1 {
    text-align: center;
    margin: 20px 0;
}

.container {
    display: flex;
    background-color: aliceblue;
    flex-direction: row;
    height: 100vh;
}

.map-container {
    flex: 4.5;
    width: 100%;
    height: 90%;
    margin-top: 0.5%;
    margin-left: 0.1%;
    padding: 10px;
    border-right: 1px solid #ddd;
}

#map {
    cursor: pointer;
}

.note {
    display: flex;
    cursor: pointer;
    top: 0;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    z-index: 1;
    position: relative;
}

b {
    padding: 14px;
    align-items: center;
    text-align: center;
    color: #3a3838;
}

.map-container2 {
    flex: 4.5;
    cursor: pointer;
    margin-right: 15px;
    width: 100%;
    height: 80%;
    margin-top: 0.5%;
    margin-left: 0.1%;
    padding: 10px;
    border-right: 1px solid #fff;
}

.map {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    margin: 16px;
    padding: 6px;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.form-container {
    margin-top: 20px;
    flex: 1.5;
    color: #000;
    z-index: 1;
    padding: 25px;
    padding-top: 20px;
    overflow-y: auto;
    align-items: center;
}

select {
    background-color: #ddd;
    padding: 6px;
    border: 1px solid rgb(111, 111, 251);
    box-shadow: rgb(61, 61, 244);
    color: #000;
    border-radius: 6px;
}

input {
    border-radius: 6px;
    padding: 6px;
    border: 1px solid rgb(138, 138, 244);
    box-shadow: rgb(63, 63, 246);
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
    gap: 10px;
    justify-content: flex-end;
}

label {
    font-weight: bold;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    width: 42%;
    margin-left: 28%;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}